<?xml version="1.0" encoding="ASCII"?>
<core:topology xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/" 
xmlns:wps="http://www.ibm.com/Zephyr/wps/1.0.0/"
name="BPEContainer Template">
  <wps:unit.BPEContainerUnit name="BPEContainer" configurationUnit="false" conceptual="true">
    <wps:capability.BPEContainer name="BPEContainer" linkType="any"/>
    <core:requirement name="optionalHostingReq" dmoType="core:Capability" linkType="hosting" use="optional"/>  
  </wps:unit.BPEContainerUnit>
</core:topology>