<?xml version="1.0" encoding="ASCII"?>
<core:topology xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/" 
xmlns:wps="http://www.ibm.com/Zephyr/wps/1.0.0/"
name="ESB Template">
  <wps:unit.WPSESBUnit name="ESB" configurationUnit="false" conceptual="true">
    <wps:capability.WPSESB name="ESB" linkType="any"/>
    <core:requirement name="optionalHostingReq" dmoType="core:Capability" linkType="hosting" use="optional"/>  
  </wps:capability.WPSESB>
</core:topology>