<?xml version="1.0" encoding="ASCII"?>
<core:topology
	xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/"
	xmlns:constraint="http://www.ibm.com/ccl/soa/deploy/core/constraint/1.0.0/"
	name="Anticollocation Template">
	<constraint:constraint.collocation type="anticollocation"
		capabilityType="core:Capability" />
</core:topology>
