<?xml version="1.0" encoding="ASCII"?>
<core:topology xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/" name="Conceptual Node Template">
  <core:unit.ConceptualNode displayName="ConceptualNode" name="ConceptualNode" conceptual="true">
  </core:unit.ConceptualNode>
</core:topology>
