<?xml version="1.0" encoding="ASCII"?>
<core:topology xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/"
	name="Import Template">
	<core:import displayName="Topology Import" mutable="false"
		name="Import" namespace="" pattern="">
		<core:config.topology name="default" />
	</core:import>
</core:topology>
