<?xml version="1.0" encoding="ASCII"?>
<core:topology
	xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/"
	name="Group Template">
	<core:unit displayName="GroupMembership" name="GroupMembership">
		<core:requirement mutable="true" name="GroupMembership"
			displayName="GroupMembership" dmoType="core:Unit" linkType="member" />
	</core:unit>
</core:topology>
