<?xml version="1.0" encoding="ASCII"?>
<core:topology xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/" 
xmlns:constraint="http://www.ibm.com/ccl/soa/deploy/core/constraint/1.0.0/"
xmlns:virtualization="http://www.ibm.com/ccl/soa/deploy/virtualization/1.0.0/"
name="VirtualImageCollection Template">
  <virtualization:unit.virtualImageCollectionUnit name="Virtual Image Collection" displayName="Virtual Image Collection" configurationUnit="false" conceptual="true">
    <virtualization:capability.virtualImageCollection name="VirtualImageCollection" linkType="any"/>
    <core:requirement mutable="true" name="VirtualImage" displayName="Server" dmoType="virtualization:VirtualImageUnit" linkType="member">
		<constraint:constraint.memberCardinality name="memberCardinality" minValue="0" maxValue="unbounded"/>
    </core:requirement>    
  </virtualization:unit.virtualImageCollectionUnit>
</core:topology>