<?xml version="1.0" encoding="ASCII"?>
<core:topology xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/" 
xmlns:virtualization="http://www.ibm.com/ccl/soa/deploy/virtualization/1.0.0/"
xmlns:net="http://www.ibm.com/ccl/soa/deploy/net/1.0.0/"
name="Xen VirtualDiskDef Template">
  <virtualization:unit.xenVirtualDiskDefUnit name="XenVirtualDiskDef" configurationUnit="true" conceptual="false">
    <virtualization:capability.xenVirtualDiskDef name="XenVirtualDiskDef" linkType="any"/>
    <core:requirement name="HostingReq" dmoType="virtualization:XenVirtualServerDef" linkType="hosting" use="required"/>  
    <!-- <core:requirement name="DependencyReq" dmoType="server:Disk" linkType="dependency" use="optional"/> --> 
  </virtualization:unit.xenVirtualDiskDefUnit>
</core:topology>