<?xml version="1.0" encoding="ASCII"?>
<core:topology xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/" 
xmlns:db2high="http://www.ibm.com/Zephyr/db2high/1.0.0/"
xmlns:db2="http://www.ibm.com/Zephyr/db2/1.0.0/"
name="DB2BufferPool Template">
  <db2high:unit.DB2BufferPoolUnit name="DB2BufferPool" configurationUnit="false" conceptual="true">
    <db2high:capability.DB2BufferPool name="DB2BufferPool" linkType="any"/>
    <core:requirement name="Hosted on DB2Manager" dmoType="db2high:DB2Manager" linkType="hosting" use="optional"/>  
  </db2high:unit.DB2BufferPoolUnit>
</core:topology>