<?xml version="1.0" encoding="ASCII"?>
<core:topology xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/" 
xmlns:db2high="http://www.ibm.com/Zephyr/db2high/1.0.0/"
name="DB2Index Template">
  <db2high:unit.dB2IndexUnit name="DB2Index" configurationUnit="false" conceptual="true">
    <db2high:capability.dB2Index name="DB2Index" linkType="any"/>
    <core:requirement name="optionalHostingReq" dmoType="core:Capability" linkType="hosting" use="optional"/>  
  </db2high:unit.dB2IndexUnit>
</core:topology>