<?xml version="1.0" encoding="ASCII"?>
<core:topology xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/" 
xmlns:db2high="http://www.ibm.com/Zephyr/db2high/1.0.0/"
name="DB2TableSpace Template">
  <db2high:unit.DB2TableSpaceUnit name="DB2TableSpace" configurationUnit="false" conceptual="true">
    <db2high:capability.DB2TableSpace name="DB2TableSpace" linkType="any"/>
    <core:requirement name="optionalHostingReq" dmoType="core:Capability" linkType="hosting" use="optional"/>  
  </db2high:unit.DB2TableSpaceUnit>
</core:topology>