<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: NonUIplugin.xmljet,v 1.1 2008/03/01 18:20:56 barnold Exp $
-->

<plugin>
    
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://www.ibm.com/Zephyr/tds/1.0.0/" 
       class = "com.ibm.ccl.soa.deploy.tds.provider.TdsItemProviderAdapterFactory" 
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package
       uri = "http://www.ibm.com/Zephyr/tds/1.0.0/"
       class = "com.ibm.ccl.soa.deploy.tds.TdsPackage" />
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser
       type="tds"
       class="com.ibm.ccl.soa.deploy.tds.util.TdsResourceFactoryImpl" />
  </extension>
  
  <extension point="com.ibm.ccl.soa.deploy.core.domains">
    <domain
       id="com.ibm.ccl.soa.deploy.tds.domain"
       name="%extension.tdsDomain"
       targetNamespace="http://www.ibm.com/Zephyr/tds/1.0.0/">
       <validator class="com.ibm.ccl.soa.deploy.tds.internal.validator.TdsDomainValidator"/>
       <resourceType
             id="tds.TdsBaseSystem.conceptual"
             name="TdsBaseSystem"
             templateURI="platform:/plugin/com.ibm.soa.deploy.tds/templates/TdsBaseSystemC.template">
       </resourceType>
       <resourceTypeUIBinding
             description="%tdsTdsBaseSystemTool.Description"
             label="%tdsTdsBaseSystemTool.Label"
             path="/serverSoftwareDrawer/tdsStack"
             smallIcon="icons/pal/placeholder_16.gif"
             largeIcon="icons/pal/placeholder_20.gif"
             resourceTypeId="tds.TdsBaseSystem.conceptual">
       </resourceTypeUIBinding>       
    </domain>
  </extension>
    

</plugin>
