<?xml version="1.0" encoding="ASCII"?>
<core:topology xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/" xmlns:os="http://www.ibm.com/ccl/soa/deploy/os/1.0.0/" xmlns:constraint="http://www.ibm.com/ccl/soa/deploy/core/constraint/1.0.0/" name="AIX2000 Template">
  <os:unit.dataFileUnit name="DataFile" configurationUnit="true" conceptual="false">
    <os:capability.directory name="DataFileCap" linkType="any"/>
    <core:requirement mutable="true" name="FileSystemReq" displayName="FileSystem Requirement" dmoType="os:FileSystem" linkType="hosting"/>
  </os:unit.dataFileUnit>
</core:topology>