<?xml version="1.0" encoding="ASCII"?>
<core:topology xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/" xmlns:os="http://www.ibm.com/ccl/soa/deploy/os/1.0.0/" xmlns:constraint="http://www.ibm.com/ccl/soa/deploy/core/constraint/1.0.0/" name="Remote File System Template">
  <os:unit.remoteFileSystemUnit name="RemoteFileSystem" configurationUnit="true" conceptual="false">
    <os:capability.remoteFileSystem name="RemoteFileSystem" linkType="any"/>
    <core:requirement mutable="true" name="OperatingSystem" displayName="Operating System" dmoType="os:OperatingSystem" linkType="hosting"/>
  </os:unit.remoteFileSystemUnit>
</core:topology>