<?xml version="1.0" encoding="ASCII"?>
<core:topology xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/" xmlns:os="http://www.ibm.com/ccl/soa/deploy/os/1.0.0/" xmlns:constraint="http://www.ibm.com/ccl/soa/deploy/core/constraint/1.0.0/" name="Windows File System Template">
  <os:unit.windowsFileSystemUnit name="WindowsFileSystem" configurationUnit="true" conceptual="false">
    <os:capability.windowsFileSystem name="WindowsFileSystem" linkType="any"/>
    <core:requirement mutable="true" name="WindowsOperatingSystem" displayName="Operating System" dmoType="os:WindowsOperatingSystem" linkType="hosting"/>
  </os:unit.windowsFileSystemUnit>
</core:topology>