<?xml version="1.0"?>
<core:topology name="TDS Base System"
	xmlns:tds="http://www.ibm.com/zephyr/tds/1.0.0/"
	xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.ibm.com/zephyr/tds/1.0.0/ 
 ../models/schemas/tdsdomain.xsd  http://www.ibm.com/ccl/soa/deploy/core/1.0.0/
platform:/plugin/com.ibm.ccl.soa.deploy.core/models/schemas/base.xsd"> 
				   
<!-- Insert your template content here -->
<tds:unit.tdsBaseSystemUnit></tds:unit.tdsBaseSystemUnit>

</core:topology>
