<?xml version="1.0" encoding="ASCII"?>
<core:topology 
	xmlns:server="http://www.ibm.com/ccl/soa/deploy/server/1.0.0/" 
	xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/" 
	name="Server Template">
  <server:unit.serverUnit name="Server" displayName="Server" conceptual="true">
    <server:capability.server name="Server" displayName="Server" linkType="any">
    </server:capability.server>
  </server:unit.serverUnit>
</core:topology>
