<?xml version="1.0" encoding="ASCII"?>
<core:topology
	xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/"
	xmlns:analysis="http://www.ibm.com/ccl/soa/deploy/analysis/1.0.0/"
	name="Node Template">
	<analysis:unit.node displayName="Node" name="Node"
		conceptual="true">
	</analysis:unit.node>
</core:topology>
