<?xml version="1.0" encoding="ASCII"?>
<core:topology
	xmlns:appdeploy="http://www.ibm.com/ccl/soa/deploy/appdeploy/1.0.0/"
	xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/"
	xmlns:j2eeDeploy="http://www.ibm.com/ccl/soa/deploy/j2ee/1.0.0/"
	xmlns:derby="http://www.ibm.com/ccl/soa/deploy/derby/1.0.0/"
	name="Derby 10.1 Template">
	<derby:unit.derbyDatabaseInstanceUnit displayName="Derby Database 10.1 Instance" name="derby101Instance">
		<derby:capability.derbyInstance displayName="Derby Database 10.1" name="derbyInstanceCapability" linkType="any"/>
	</derby:unit.derbyDatabaseInstanceUnit>
</core:topology>