<?xml version="1.0" encoding="ASCII"?>
<core:topology
	xmlns:appdeploy="http://www.ibm.com/ccl/soa/deploy/appdeploy/1.0.0/"
	xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/"
	xmlns:j2eeDeploy="http://www.ibm.com/ccl/soa/deploy/j2ee/1.0.0/"
	xmlns:derby="http://www.ibm.com/ccl/soa/deploy/derby/1.0.0/"
	name="Derby 10 Template">
	<derby:unit.derbyDatabaseUnit displayName="Derby Database 10.0" name="derby10Database" conceptual="true">
		<derby:capability.derbyDatabase name="derbyDatabaseCapability"
			derbyVersion="10.0" displayName="Derby Database 10.0" linkType="any"/>
	</derby:unit.derbyDatabaseUnit>
</core:topology>