<?xml version="1.0" encoding="UTF-8"?>
<core:topology xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/"  xmlns:was="http://www.ibm.com/ccl/soa/deploy/was/1.0.0/" name="WebSphereMQQueueDestinationUnit template">
  <was:unit.wasSubstitutionVariableUnit displayName="WebSphere Variable" name="WebSphereVariable" configurationUnit="true">
    <was:capability.wasSubstitutionVariable name="Substitution Variable" displayName="Substitution variable"  linkType="any"/>
    <core:requirement mutable="true" name="WebSphereConfigurationContainer" displayName="WebSphereConfigurationContainer" dmoType="was:WasConfigurationContainer" linkType="hosting"/>
  </was:unit.wasSubstitutionVariableUnit>
</core:topology>
