<?xml version="1.0" encoding="UTF-8"?>
<core:topology xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/" xmlns:os="http://www.ibm.com/ccl/soa/deploy/os/1.0.0/"  xmlns:was="http://www.ibm.com/ccl/soa/deploy/was/1.0.0/" name="WebSphereSystemUnit template">
  <was:unit.wasSystemUnit name="WebSphereSystemUnitND" displayName="WebSphere 6.0 ND System" conceptual="true">
    <was:capability.wasSystem name="WebSphereSystemND" displayName="WebSphere 6.0 ND System" wasEdition="Network Deployment" wasVersion="6.0" linkType="any">
      <core:attributeMetaData attributeName="wasVersion" mutable="false"/>    
    </was:capability.wasSystem>    
    <core:requirement mutable="true" name="HostingOnOS" displayName="Hosting on an OS" dmoType="os:OperatingSystem" linkType="hosting"/>    
  </was:unit.wasSystemUnit>
</core:topology>
