<?xml version="1.0" encoding="UTF-8"?>
<core:topology xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/"  xmlns:was="http://www.ibm.com/ccl/soa/deploy/was/1.0.0/" name="WebSphereSibDestinationUnit template">
  <was:unit.wasSibDestinationUnit displayName="WebSphereSibDestinationUnit" name="WebSphereSibDestinationUnit" configurationUnit="true">
    <was:capability.wasSibDestination name="Provide a Destination" displayName="Provide a Destination" linkType="any"/>
    <core:requirement name="Hosted on a sibus" mutable="true" displayName="Hosted on a sibus" dmoType="was:WasSIBus" linkType="hosting"/>      
    <core:requirement name="depends on mediation" mutable="true" displayName="Optional depends on a mediation" dmoType="was:WasSibMediation" use="optional" linkType="dependency"/>      
    <core:requirement name="QueueDestinationNeedToBeInstalledOnAMember" mutable="true" displayName="QueueDestinationNeedToBeInstalledOnAMember" dmoType="was:WasJ2EEServer" use="optional" linkType="dependency"/>      
  </was:unit.wasSibDestinationUnit>
</core:topology>
