<?xml version="1.0" encoding="ASCII"?>

<core:topology xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/" 
xmlns:tds="http://www.ibm.com/Zephyr/tds/1.0.0/"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.ibm.com/zephyr/tds/1.0.0/ 
 ../models/schemas/tdsdomain.xsd"
name="TDS Base System"
>

<tds:unit.tdsBaseSystemUnit>
</tds:unit.tdsBaseSystemUnit>

</core:topology>
