<?xml version="1.0" encoding="ASCII"?>
<core:topology xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/" 
xmlns:db2Deploy="http://www.ibm.com/ccl/soa/deploy/db2/1.0.0/" 
xmlns:db2="http://www.ibm.com/ccl/soa/deploy/db2/1.0.0/" 
xmlns:constraint="http://www.ibm.com/ccl/soa/deploy/core/constraint/1.0.0/"  
name="DB2 database Template">
  <db2Deploy:unit.db2DatabaseUnit name="DB2Database">
    <db2Deploy:capability.db2Database name="DB2 Database" displayName="DB2 Database" linkType="any" db2Version="8"/>
    <core:requirement mutable="true" name="DB2 Instance" displayName="DB2 Instance" dmoType="db2Deploy:DB2Instance" linkType="hosting">
      <constraint:constraint.version name="db2Version" displayName="db2Version" attributeName="db2Version" value="8.x"/>
    </core:requirement>
  </db2Deploy:unit.db2DatabaseUnit>
</core:topology>
