<?xml version="1.0" encoding="ASCII"?>
<core:topology xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/" 
xmlns:sca="http://www.ibm.com/Zephyr/sca/1.0.0/"
name="SCAPropertyValue Template">
  <sca:unit.sCAPropertyValueUnit name="SCAPropertyValue" configurationUnit="false" conceptual="true">
    <sca:capability.sCAPropertyValue name="SCAPropertyValue" linkType="any"/>
    <core:requirement name="optionalHostingReq" dmoType="core:Capability" linkType="hosting" use="optional"/>  
  </sca:unit.sCAPropertyValueUnit>
</core:topology>