<?xml version="1.0" encoding="ASCII"?>
<core:topology xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/" 
xmlns:tds="http://www.ibm.com/Zephyr/tds/1.0.0/"
name="TdsBaseSystem Template">
  <tds:unit.tdsBaseSystemUnit name="TdsBaseSystem" configurationUnit="false" conceptual="true">
    <tds:capability.tdsBaseSystem name="TdsBaseSystem" linkType="any"/>
    <core:requirement name="optionalHostingReq" dmoType="core:Capability" linkType="hosting" use="optional"/>  
  </tds:unit.tdsBaseSystemUnit>
</core:topology>