<?xml version="1.0" encoding="UTF-8"?>
<core:topology 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:core="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/" 
	xmlns:j2ee="http://www.ibm.com/ccl/soa/deploy/j2ee/1.0.0/" 
	xmlns:java="http://www.ibm.com/ccl/soa/deploy/java/1.0.0/"
	name="Utility Component Template">
  <j2ee:component.jar name="UtilityComponent" displayName="Utility Component" initInstallState="not_installed" publishIntent="publish" conceptual="false">
	<j2ee:capability.jarModule name="UtilityComponent0" displayName="Utility Component" id="UtilityComponent" version="1.0" linkType="dependency"/>
    <core:requirement name="JRE" displayName="JRE" mutable="true" dmoType="java:JRE" linkType="dependency" use="optional"/>
  </j2ee:component.jar>
</core:topology>